<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="" class="nav-link">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/authentication" class="nav-link" href="#">Login</a>
            </li>
        </ul>
        <span class="navbar-text">
      <h1>Teste de Rotas</h1>
    </span>
    </div>
</nav>
<router-outlet></router-outlet>