* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    background: rgb(201, 255, 179);
}

.middle {
    width: 40%;
    height: 100%;
    background: rgb(240, 240, 240);
}

.right {
    width: 30%;
    height: 100%;
    background: rgb(255, 203, 203);
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
}

.logo {
    width: 30%;
    height: 100%;
    padding-left: 10%;
    line-height: 80px;
}

.menu1 {
    width: 40%;
    height: 100%;
}

.menu2 {
    width: 30%;
    height: 100%;
}

.menu1-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    color: rgb(145, 145, 145);
    line-height: 80px;
    list-style: none;
}

.menu2-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 44%;
    color: rgb(141, 141, 141)56, 156, 156);
    line-height: 80px;
    list-style: none;
}

.call-action {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 3em;
    color: rgb(66, 66, 66);
}

.contacts-card {
    position: relative;
    width: 30%;
    height: auto;
    padding: 30px;
    background: blanchedalmond;
    bottom: 10%;
}

.img {
    position: absolute;
    width: 60%;
    height: auto;
    top: 25%;
    left: 35%;
}